input[type="text"],select,input[type="number"],
input[type="password"],input[type="date"] {
  font-family: poppins !important;
}


input[type="text"],select,input[type="number"],
input[type="password"],input[type="date"]  {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  outline: none;
}

select{
  padding: 0.4rem 0.8rem;
}

input[type="text"]:focus,select:focus,input[type="number"]:focus,
input[type="password"]:focus,input[type="date"]:focus {
  border-color: var(--primary-color);
}

input[type="checkbox"] {
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}