
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p {
  padding: 0;
  margin: 0;
}

html{
  font-size: 100%;
}

body {
  line-height: 1.3;
  font-family:'Poppins', sans-serif;
  color:white;
  padding: 0;
  margin: 0;
}


.sidenav{
  position: sticky !important;
  top: 0;
  left: 0;
}

.main{
  margin-bottom: 10vh;
}
/*.tooltip-inner {
  background-color: #00cc00;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-right-color: #00cc00 !important;
}*/