*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 110%;
}

body {
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.sidenav {
  position: sticky !important;
  top: 0;
  left: 0;
}

.main {
  margin-bottom: 10vh;
}

/*.tooltip-inner {
  background-color: #00cc00;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-right-color: #00cc00 !important;
}*/
h5 {
  visibility: visible;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.flex-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  justify-content: flex-end;
}

.margin-a {
  margin: 0 auto;
}

.margin-top-1 {
  margin-top: 0.5rem;
}

.margin-top-2 {
  margin-top: 1rem;
}

.margin-top-3 {
  margin-top: 1.5rem;
}

.color-black {
  color: var(--third-color);
}

.color-white {
  color: var(--secondary-color);
}

:root {
  --primary-color: #02a9f7;
  --secondary-color: #fff;
  --third-color: #6d6d6d;
  --hover-color: #1486bb;
  --light-grey: #D4D7D9;
}

input[type=text], select, input[type=number],
input[type=password], input[type=date] {
  font-family: poppins !important;
}

input[type=text], select, input[type=number],
input[type=password], input[type=date] {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  outline: none;
}

select {
  padding: 0.4rem 0.8rem;
}

input[type=text]:focus, select:focus, input[type=number]:focus,
input[type=password]:focus, input[type=date]:focus {
  border-color: var(--primary-color);
}

input[type=checkbox] {
  cursor: pointer;
}

.primary-btn {
  padding: 0.6rem 1rem;
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--secondary-color);
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  margin: 1rem 0;
  text-align: center;
}

.primary-btn:hover {
  background-color: var(--hover-color);
  color: white;
  text-decoration: none;
}

.inner-sidenav {
  background-color: var(--primary-color);
  height: 100vh;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

section .profile h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  margin-top: 0.3rem;
}

section .profile-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: var(--third-color);
}

section .profile-img img {
  width: 100%;
  border-radius: inherit;
}

section .menu {
  margin-top: 2rem;
}

section .menu li {
  list-style: none;
}

section .menu li a {
  color: #ffffff;
  margin: 1rem 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

section .menu li a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.2rem;
}

section .menu li .dashboard::before {
  content: "\f0db";
}

section .menu li .patient::before {
  content: "\f007";
}

section .menu li .reports::before {
  content: "\f080";
}

section .menu li .trackMap::before {
  content: "\f041";
}

section .menu li .inventory::before {
  content: "\f466";
}

section .profile h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

section .social-media-links {
  text-align: center;
}

section .social-media-links i {
  font-size: 1.5rem;
  margin: 0.4rem;
  cursor: pointer;
}

section .spacer {
  margin: 0 auto;
}

section .content, span {
  color: var(--third-color);
}

section .content h1, h2 {
  text-transform: uppercase;
  font-weight: 700;
}

section .content h2 {
  font-size: 1.5rem;
}

section .logo img {
  width: 9rem;
}

section .inner-page-content {
  width: 100%;
}

section .inner-page-content .content {
  text-align: center;
  color: #383838;
  padding: 2rem 0 0 0;
}

section .inner-page-content .content .line {
  width: 80px;
  height: 3px;
  background-color: var(--third-color);
  margin: 0 0.3rem;
  color: #383838;
}

section .inner-page-content .content .heading-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .inner-page-content .content h1 {
  margin-bottom: 0.4rem;
}

section .inner-page-content .content h2 {
  display: inline;
}

section .inner-page-content .content p {
  max-width: 50%;
  margin: 0 auto;
}

section .inner-page-content .settings {
  display: flex;
  align-items: center;
}

section .inner-page-content .settings a {
  cursor: pointer;
}

section .inner-page-content .settings i {
  font-size: 1.7rem;
  margin-right: 0.4rem;
  color: #383838;
}

section .inner-page-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

section .inner-page-content .dropdown-settings {
  font-size: 1.9rem;
}

.global P {
  max-width: unset !important;
  margin: unset !important;
}
.global .content {
  text-align: left !important;
}
.global__container {
  display: flex;
}
.global__sidenav {
  flex: 1 1 20%;
  background-color: var(--primary-color);
  box-shadow: 2px 0 12px var(--third-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.global__main-content {
  flex: 1 1 80%;
}

.text-content {
  display: flex;
}

.left-text {
  margin-left: 5%;
}

.left-text p {
  font-weight: 800;
  font-size: 2.5em;
  text-transform: capitalize;
}

.left-text ul {
  list-style-type: none;
}

.left-text ul li {
  margin-top: 3%;
}

.left-text a {
  color: var(--primary-color);
  text-decoration: none;
}

.right-text {
  margin-left: 20%;
  margin-top: 5%;
}

.right-text p {
  font-size: 1.5em;
  font-weight: 800;
}

.right-text input {
  border: 3px solid var(--light-grey);
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.right-text label, .right-text input {
  margin-top: 20px;
}

.save-changes2 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  font-family: Poppins;
  padding: 15px;
  margin-top: 50px;
  margin-left: 300px;
}

.save-changes2:hover {
  background-color: var(--hover-color);
}

/* Login Form */
section.login-form .logo img {
  width: 11.5rem;
}

section.login-form .logo {
  padding: 0.5rem 0 0 1rem;
}

section.login-form h1 {
  font-size: 2rem;
  color: var(--third-color);
}

section.login-form .hero-image {
  background-color: var(--primary-color);
}

section.login-form a {
  text-decoration: none;
  color: var(--primary-color);
}

section.login-form a:hover {
  color: var(--hover-color);
}

section.login-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

section.login-form form .form-wrapper {
  width: 80%;
  max-width: 400px;
}

section.login-form .hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*
====================
pop-up modal design
====================
*/
#modal-content {
  height: fit-content;
  padding-top: 1rem;
}

.modal-footer {
  justify-content: center;
}

/*===pop-up modal===*/
#modal-icon {
  display: flex;
  justify-content: center;
}

#modal-icon img {
  width: 20%;
  height: 20%;
}

#modal-content h3 {
  /*modal title*/
  font-weight: lighter;
  text-align: center;
  color: var(--primary-color);
  margin: 0.5em;
}

#modal-content h5 {
  /*modal sub-title*/
  width: 100%;
  text-align: center;
  margin: 0.5em;
}

#email-txt {
  font-weight: bold;
  color: var(--primary-color);
}

#modal-content p {
  /*modal paragraph*/
  font-size: 1rem;
  font-weight: normal;
  text-align: justify;
  color: var(--third-color);
  margin: 0.5em;
}

#modal-content form {
  /*input form parent*/
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#otp-input {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
  width: 50%;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  border: 2px solid var(--third-color);
  outline: none;
  margin: 0;
}

#otp-input:focus {
  border-color: var(--primary-color);
}

/*first pop to show after successful login*/
#choose-authentication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

#choose-authentication .col-sm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #c5bebe;
  border-radius: 0.5rem;
  margin: 0.2rem;
  padding: 0;
  max-width: 80%;
}

#choose-authentication .col-sm img {
  width: 4.5rem;
  height: 3rem;
  margin: 1.1rem;
}

#choose-authentication .col-sm p {
  color: var(--primary-color);
  font-size: large;
}

.toggle-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0;
  background: #c9cece;
}

input[type=radio] {
  width: 1.3rem;
  height: 1.3rem;
}

.subtitle {
  /** the h5 in modal*/
  display: flex;
  width: 100%;
  text-align: center;
  color: var(--third-color);
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 1.3rem 0 0 0;
  font-size: 1.2rem;
}

.paragraph {
  /*the <p> in modal*/
  margin: 0.5rem 0;
}

.super-admin {
  display: flex;
}

.super-admin .sidenav {
  flex: 1 1 20%;
  height: 100vh;
}

.super-admin .main {
  flex: 1 1 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

td, th {
  color: var(--third-color);
  padding: 0.5rem 1rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #b7c6d1;
}

.cta-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.cta-wrapper .square-btn {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  display: block;
  text-align: center;
  width: 20%;
}
.cta-wrapper .square-btn i {
  margin-right: 0.3rem;
}
.cta-wrapper .square-btn:hover {
  background-color: var(--hover-color);
}

.button-square {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.button-square i {
  margin-right: 0.3rem;
}
.button-square:hover {
  background-color: var(--hover-color);
}

.cta-wrapper2 {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.cta-wrapper2 .square-btn {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  display: block;
  text-align: center;
  width: 20%;
}
.cta-wrapper2 .square-btn:hover {
  background-color: var(--hover-color);
}
.cta-wrapper2 .red-square-btn {
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  display: block;
  text-align: center;
  width: 20%;
}
.cta-wrapper2 .red-square-btn i {
  margin-right: 0.3rem;
}
.cta-wrapper2 .red-square-btn:hover {
  background-color: #cf0404;
}

.registration-form {
  color: var(--third-color);
}
.registration-form__container {
  display: flex;
}
@media (max-width: 900px) {
  .registration-form__container {
    flex-direction: column;
    align-items: center;
  }
}
.registration-form__wrapper {
  flex: 1 1 50%;
}
.registration-form__image {
  flex: 1 1 50%;
  height: 100vh;
  background-color: var(--primary-color);
  display: grid;
  place-items: center;
}
.registration-form__image img {
  width: 70%;
  height: 70%;
}
@media (max-width: 900px) {
  .registration-form__image img {
    display: none;
  }
}

.logo img {
  width: 12rem !important;
}

.search-tab {
  display: flex;
  justify-content: flex-end;
}

.search-container {
  display: flex;
  align-items: center;
}
.search-container a {
  padding: 0.7rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 300ms ease-in-out;
}
.search-container a i {
  font-size: 1.3rem;
}
.search-container a:hover {
  background-color: var(--hover-color);
}

.search-bar {
  margin-top: 0 !important;
  border-radius: unset !important;
  border: 3px solid var(--light-grey) !important;
}
.search-bar:focus {
  border: 3px solid var(--primary-color) !important;
}

.search-tab .details-settings {
  padding: 0 2rem 0 2rem;
}
.search-tab .details-settings a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 300ms ease-in-out;
}
.search-tab .details-settings a:hover {
  color: var(--hover-color);
}

.patient-content__container {
  display: grid;
  padding: 0 1.5rem 2rem 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
}
.patient-content__container .holder {
  background-color: #eeeeee;
  margin: 0.8rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.patient-content__name {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.patient-content__name i {
  font-size: 5.5rem;
  color: var(--third-color);
  margin-bottom: 1rem;
}
.patient-content__name p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.patient-content__name a {
  background-color: var(--primary-color);
  color: white;
  margin-top: 0.7rem;
  text-decoration: none;
  padding: 0.3rem 1.2rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
}
.patient-content__name a:hover {
  background-color: var(--hover-color);
}
.patient-content__name-container {
  text-align: center;
}
.patient-content__name-container p {
  text-align: center;
}
.patient-content__information {
  grid-column: 1/2;
  grid-row: 3/4;
}
.patient-content__information td, .patient-content__information th {
  color: unset !important;
  padding: 0.5rem 1rem;
  text-align: left;
}
.patient-content__information tr:nth-child(even) {
  background-color: unset !important;
}
.patient-content__blood-type {
  grid-column: 2/3;
  grid-row: 1/2;
}
.patient-content__height {
  grid-column: 3/4;
  grid-row: 1/2;
}
.patient-content__weight {
  grid-column: 4/5;
  grid-row: 1/2;
}
.patient-content__blood-type-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.patient-content__height-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.patient-content__weight-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.patient-content__medical-history {
  grid-column: 2/6;
  grid-row: 2/3;
}
.patient-content__medical-history .group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
}
.patient-content__medical-history-container {
  display: flex;
  gap: 1.3rem;
  justify-content: space-around;
  padding: 1rem 0;
}
.patient-content__medication {
  grid-column: 2/6;
  grid-row: 3/5;
}
.patient-content__medication P {
  padding: 0 0 1rem 0;
}
.patient-content__medication td, .patient-content__medication th {
  color: unset !important;
  padding: 0.5rem 1rem;
  text-align: left;
}
.patient-content__medication tr:nth-child(even) {
  background-color: unset !important;
}
.patient-content__medication .cta-prescription-container {
  display: grid;
  place-items: center;
}
.patient-content__medication .cta-prescription-container i {
  margin-right: 0.5rem;
}
.patient-content__medication .cta-prescription {
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: var(--primary-color);
  transition: color 300ms ease-in-out;
  font-size: 1.1rem;
}
.patient-content__medication .cta-prescription:hover {
  color: var(--hover-color);
}
.patient-content__medication-container {
  max-height: 25rem;
  overflow: scroll;
}

.blood-type-icon {
  height: 100%;
  max-width: 100%;
  width: 40px;
}

.height-icon {
  height: 100%;
  max-width: 100%;
  width: 37px;
}

.weight-icon {
  height: 100%;
  max-width: 100%;
  width: 60px;
}

.temperature-icon {
  height: auto;
  max-width: 100%;
  width: 30px;
}

.blood-pressure-icon {
  height: auto;
  max-width: 100%;
  width: 43px;
}

.illness-icon {
  height: auto;
  max-width: 100%;
  width: 43px;
}

.medicine-icon {
  height: auto;
  max-width: 100%;
  width: 43px;
  min-width: 23px;
}

.reports__downloads {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}
.reports__downloads-container a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.6rem 1rem;
  color: white;
  margin-left: 0.7rem;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
  margin-bottom: 1rem;
}
.reports__downloads-container a i {
  margin-right: 0.3rem;
}
.reports__downloads-container a:hover {
  background-color: var(--hover-color);
}
.reports__container {
  display: flex;
}
.reports__left-col {
  flex: 1 1 60%;
  margin: 1rem 1rem 1rem 1rem;
}
.reports__left-col table {
  margin-top: unset !important;
}
.reports__left-col td:first-child {
  font-weight: unset !important;
}
.reports__left-col td, .reports__left-col th {
  color: unset !important;
}
.reports__left-col th {
  font-size: 1.2rem;
}
.reports__left-col-container {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  height: 100%;
  padding: 0.5rem 0;
}
.reports__right-col {
  flex: 1 1 40%;
  margin: 1rem 1rem 1rem 0;
}
.reports__right-col-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}
.reports__right-col-container .total-medicine-released h2 {
  color: var(--primary-color);
}
.reports__right-col-container .current-sick-paient h2 {
  color: red;
}
.reports__right-col-container .cured-patient h2 {
  color: #05ac05;
}
.reports__right-col-container .card {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  text-align: center;
  padding: 4rem 0;
}
.reports__right-col-container .card h2 {
  font-weight: 300;
  font-size: 2.5rem;
}

.inventory__container {
  padding: 1rem;
}
.inventory__container h1 {
  font-weight: 400 !important;
  color: var(--third-color);
}
.inventory__container i {
  cursor: pointer !important;
}
.inventory__container .td-spacer {
  background-color: white;
}
.inventory table {
  margin-top: 0 !important;
}
.inventory__table-toexpire-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0 !important;
}
.inventory__table-toexpire-container td {
  font-weight: 300 !important;
  width: 200px;
}
.inventory__table-toexpire-container tr:nth-child(even) {
  background-color: #b7c6d1 !important;
}
.inventory__table-toexpire-container td.expired-text {
  color: red !important;
}
.inventory__table-toexpire-container td.warning-btn {
  background-color: white;
  padding-left: 0.3rem !important;
  text-align: left !important;
}
.inventory__table-toexpire-container td.warning-btn i {
  color: #ff1515 !important;
  padding: 0.6rem;
  border-radius: 0.4rem;
  font-size: 1.4rem !important;
  cursor: unset !important;
}
.inventory__table-expired-container {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.inventory__table-expired-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0 !important;
}
.inventory__table-expired-container td {
  font-weight: 300 !important;
  width: 200px;
}
.inventory__table-expired-container tr:nth-child(even) {
  background-color: #b7c6d1 !important;
}
.inventory__table-expired-container td.expired-text {
  color: red !important;
}
.inventory__table-expired-container td.delete-btn {
  background-color: white;
  padding-left: 0.3rem !important;
  text-align: left !important;
}
.inventory__table-expired-container td.delete-btn i {
  background-color: red;
  color: white !important;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 200ms ease-in-out;
  font-size: 1.1rem !important;
}
.inventory__table-expired-container td.delete-btn i:hover {
  background-color: #ac0202 !important;
}
.inventory__table-main-container tr.title {
  background-color: var(--primary-color);
}
.inventory__table-main-container tr.title th {
  color: white !important;
  font-weight: 400;
}
.inventory__table-main-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}
.inventory__table-main-container td, .inventory__table-main-container th {
  color: var(--third-color);
  padding: 0.5rem 1rem;
  text-align: center;
}
.inventory__table-main-container td {
  font-weight: 300 !important;
}
.inventory__table-main-container td.add-btn {
  background-color: white;
  padding-left: 0.3rem !important;
}
.inventory__table-main-container td.add-btn i {
  background-color: var(--primary-color);
  color: white !important;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 200ms ease-in-out;
}
.inventory__table-main-container td.add-btn i:hover {
  background-color: var(--hover-color) !important;
}
.inventory__table-main-container th.add-row {
  background-color: white;
}
.inventory__table-main-container tr:nth-child(even) {
  background-color: #b7c6d1 !important;
}

.left {
  margin-left: 2%;
}

.greetings-container {
  background-color: #cdefff;
  height: 20%;
  width: 60%;
  display: flex;
  border-radius: 10px;
  padding: 0 5% 5% 5%;
  margin-top: 2%;
}

.greetings-img {
  width: 40%;
  height: 40%;
  margin-top: -10%;
}

.greetings-container p:nth-child(1) {
  font-weight: 800;
  color: #0c6893;
  font-size: 1.5em;
}

.greetings-container .text {
  text-align: center;
}

.text {
  margin-top: 8%;
}

.text p:nth-child(2) {
  font-size: 0.8em;
}

.symptoms-container {
  background-color: var(--light-grey);
  width: 60%;
  height: 40%;
  padding: 3%;
  border-radius: 10px;
  margin-top: 2%;
}

.symptoms-wrapper {
  display: flex;
  align-items: center;
}

.symp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4%;
}

.symp img {
  width: 60px;
  height: 60px;
}

.symp p {
  text-indent: 0.4cm;
}

.pres-wrapper {
  display: flex;
  align-items: center;
}

.prescription-container {
  background-color: var(--light-grey);
  width: 60%;
  padding: 3%;
  border-radius: 10px;
  margin-top: 2%;
}

.sub-prescription {
  display: flex;
  background-color: #cdefff;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
}

.sub-prescription img {
  width: 70px;
  height: 70px;
}

.sub-prescription p:nth-child(1) {
  color: #0c6893;
  font-weight: 800;
}

.medication-wrapper {
  display: flex;
  align-items: center;
}

.medication {
  display: flex;
  align-items: center;
  margin: 5%;
}

.medication img {
  width: 50px;
  height: 45px;
}

.patient-details-container {
  transform: translateY(-860px);
  margin-right: 20px;
  float: right;
  background-color: var(--light-grey);
  width: 35%;
  padding: 3%;
  border-radius: 10px;
}

.patient-details-container h1 {
  text-align: center;
  color: var(--third-color);
}

.patient-details-container img {
  display: flex;
  margin-left: 25%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.details-table table {
  border: none;
  outline: none;
  background-color: none;
  font-family: Poppins;
}

tr:nth-child(even) {
  background: none;
}

td:nth-child(1) {
  font-weight: 800;
}

.text-content {
  display: flex;
}

.left-text {
  margin-left: 5%;
}

.left-text p {
  font-weight: 800;
  font-size: 2.5em;
  text-transform: capitalize;
}

.left-text ul {
  list-style-type: none;
}

.left-text ul li {
  margin-top: 3%;
}

.left-text a {
  color: var(--primary-color);
  text-decoration: none;
}

.right-text {
  margin-left: 15%;
  margin-top: 5%;
}

.right-text p {
  font-size: 1.5em;
  font-weight: 800;
}

.right-text table tr td {
  text-align: left;
}

.save-changes {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  font-family: Poppins;
  padding: 15px;
  margin-top: 50px;
  margin-left: 300px;
}

.save-changes:hover {
  background-color: var(--hover-color);
}

.text-content {
  display: flex;
}

.left-text {
  margin-left: 5%;
}

.left-text p {
  font-weight: 800;
  font-size: 2.5em;
  text-transform: capitalize;
}

.left-text ul {
  list-style-type: none;
}

.left-text ul li {
  margin-top: 3%;
}

.left-text a {
  color: var(--primary-color);
  text-decoration: none;
}

.right-text {
  margin-left: 20%;
  margin-top: 5%;
}

.right-text p {
  font-size: 1.5em;
  font-weight: 800;
}

.right-text input {
  border: 3px solid var(--light-grey);
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.right-text label, .right-text input {
  margin-top: 20px;
}

.save-changes2 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  font-family: Poppins;
  padding: 15px;
  margin-top: 50px;
  margin-left: 300px;
}

.save-changes2:hover {
  background-color: var(--hover-color);
}

.text-content {
  display: flex;
}

.left-text {
  margin-left: 5%;
}

.left-text p {
  font-weight: 800;
  font-size: 2.5em;
  text-transform: capitalize;
}

.left-text ul {
  list-style-type: none;
}

.left-text ul li {
  margin-top: 3%;
}

.left-text a {
  color: var(--primary-color);
  text-decoration: none;
}

.right-text {
  margin-left: 20%;
  margin-top: 5%;
}

.right-text p {
  font-size: 1.5em;
  font-weight: 800;
}

.right-text input {
  border: 3px solid var(--light-grey);
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

.right-text label, .right-text input {
  margin-top: 20px;
}

.save-changes3 {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  font-family: Poppins;
  padding: 15px;
  margin-top: 50px;
  margin-left: 300px;
}

.save-changes3:hover {
  background-color: var(--hover-color);
}

.forgot-cont p {
  display: flex;
  justify-content: center;
}
.forgot-cont h5 {
  margin-top: 1.5rem;
}
.forgot-cont form {
  margin: 0 0;
}
.forgot-cont form #email-input {
  max-width: 80%;
  font-family: poppins !important;
  letter-spacing: 0.1rem;
  margin: 0;
}
.forgot-cont #invalid-email-indicator {
  color: darkred;
  visibility: hidden;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgot-pwd-otp-input {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
  width: 50%;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  border: 2px solid var(--third-color);
  outline: none;
  margin: 0;
}

#forgot-pwd-otp-input:focus {
  border-color: var(--primary-color);
}

#invalid-otp-indicator {
  color: darkred;
  visibility: hidden;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
