*{
    word-wrap: break-word;
}
.flex-box-column{
    display: flex;
    flex-direction: column;
}
.flex-box-row{
    display: flex;
    flex-direction: row;
}
.modal-content-scrollable{
    height: fit-content;
    overflow-y:auto;
    overflow-x:hidden;
    height: fit-content;
    max-height: 75vh;
    margin: 1em 0;
}
.modal{/*the main modal container*/
    padding: 1rem;
    font-size: 20px;
}
.modal-header-icon{
    width: clamp(2em,3em,3vw);
    height:  clamp(2em,3em,3vw);
}
.modal-header-icon-wider{
    width: clamp(3.6em,4em,3vw);
    height: clamp(2.5em,3em,3vw);
}
.modal-icon-wider{
    width: clamp(2.5em,3em,3vw);
    height:  clamp(2em,3em,3vw);
}
.modal-title{
    color: var(--third-color)!important;
    font-weight: 500;
    font-size: clamp(1em,2em,3vw);
    margin: 0.5em;
    text-align: center;
}
.modal-title-2{
    color: var(--third-color)!important;
    font-weight: 500;
    font-size: clamp(0.9em,1.6em,2vw);
    margin: 0.5em;
    text-align: center;
}
.modal-sub-title-blue{
    color: var(--primary-color)!important;
    font-weight: 500;
    font-size: clamp(0.8em,1em,1.5vw);
}
.modal-p{
    font-size: clamp(0.7em,0.8em,3vw)!important;
    font-weight: 450;
    color: var(--third-color);
    padding-left: 0.5em;
}
.modal-p-lighter{
    font-size: clamp(0.7em,0.8em,3vw)!important;
    font-weight: 400;
    color: var(--third-color);
    padding-left: 0.5em;
}
.modal-smaller-p{
    font-size: clamp(0.6em,0.7em,3vw)!important;
    font-weight: 420;
    color: var(--primary-color);
    padding-left: 0.5em;
    cursor: pointer;
}
.modal-p-error{
    font-size: clamp(0.6em,0.7em,3vw)!important;
    font-weight: 420;
    color: red;
    padding-left: 0.5em;
    cursor: inherit;
    margin: 0.3rem 0;
    width: 100%;
    text-align: center;
    visibility: hidden;
}
.modal-field{
    margin-top: 0.2rem!important;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem!important;
    font-size: clamp(0.7em,0.8em,3vw)!important;
}
.modal-primary-button{
    padding: 0.5em 1em;
    font-size: clamp(0.7em,0.8em,3vw)!important;
    color: aliceblue;
    background:  #465A72;
    border: none;
    border-radius: 0.2rem;
}

.modal-primary-button:hover{
    background: var(--hover-color);
    cursor: pointer;
}
.modal-primary-button-2{
    padding: 0.5em 1em;
    font-size: clamp(0.7em,0.8em,3vw)!important;
    color: #fff;
    background:  var(--primary-color);
    border: none;
    border-radius: 0.2rem;
}
.modal-cancel-button{
    padding: 0.5em 1em;
    font-size: clamp(0.7em,0.8em,3vw)!important;
    color: aliceblue;
    background: #b2273d;
    border: none;
    border-radius: 0.2rem;
}
.modal-cancel-button:hover{
    background: #d26375;
    cursor: pointer;
}
.modal-cancel-button-2{
    padding: 0.5em 1em;
    font-size: clamp(0.7em,0.8em,3vw)!important;
    color: #fff;
    background: var(--third-color);
    border: none;
    border-radius: 0.2rem;
}
/*media queries*/
@media (max-width: 342px) {
    .modal-title-2{
        font-size:  clamp(0.7em,1em,2vw);
    }
    .modal-sub-title-blue{
        font-size:  clamp(0.5em,0.7em,2vw);
    }
    .modal-header-icon{
        width: clamp(1em,1.5em,3em);
        height: clamp(1em,1.5em,3em);
    }
}
@media (min-width: 1200px) {
    .modal-title-2{

    }
}
/*additonal padding margin color etc*/
.padding-left-15{
    padding-left: 15px;
}
.title-font-color{
    color: var(--third-color);
}
.fourth-color{
    color: #465A72;
}

/*
Jquery UI Date Picker
*/
/*UI date picker header*/
.ui-datepicker .ui-datepicker-header{
    background: #465A72;
    /*border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;*/
}
.ui-state-default, .ui-state-hover{
    border-radius: 0.2rem;
    background: none;
}
.ui-datepicker-calendar {
    background:#EEEEEE;
}
.ui-widget.ui-widget-content{/*container of all jquery UI including tooltip*/
    border: 1px solid #c5c5c5;
    /*padding: 0.3rem;
    border-radius: 1.3rem;*/
}
.ui-datepicker .ui-icon{
    background: aliceblue;
    border-radius: 10px
}
.ui-datepicker-calendar td{
    border: 1px solid #D8D8D8 !important;
    background: none;
    text-align: center;
}
/* Remove the inner atag border */
.ui-state-default{
    border: 0px !important;
}
.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
}
#ui-datepicker-div { display: none; }
.ui-datepicker-month,.ui-datepicker-year{
    padding: 1px;
    border: none;
    border-radius: 0.2rem;
}
.ui-datepicker-month{
    margin-right: 0.5rem;
}