.main-nav{
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;

}
#framecont {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
#myframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
li{
    justify-content: center;
    padding: 20px;
    width: auto;
    height: auto;
}

a{
    padding-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    justify-content: center;
}

.zone {
    cursor:pointer;

    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.navhover{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.navhover:hover{
    background-color: rgb(31, 31, 31);
    text-decoration: none;
}

.navhover > a:hover{
    color: white;
}
iframe{
    width: 150vh;
    height: 100vh;
}
.framecont{
    width: 150vh;
    height: 100vh;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #edf3ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d6d6d6 0%, #919191 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#919191)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d6d6 0%,#919191 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d6d6 0%,#919191 100%); /* IE10+ */
    background: linear-gradient(top, #d6d6d6 0%,#919191 100%); /* W3C */
}

#cover{
    grid-template-rows: 4fr;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

button:visited {
    color: #000000;
    background-color: #ffffff;
}
button:focus {
    color: #ffffff;
    background-color: black;
}