.dashboard-content {
    color: #222;
    padding: 2rem 1rem;
  }
  .greetings-container {
    background-color: #cdefff;
    display: flex;
    border-radius: 10px;
    padding: 2rem 1rem;
    margin-bottom: 30px;
    @media (max-width: 768px) {
     flex-direction: column;
     align-items:center;
    }

    .img-container{
      padding: 1rem;
      @media (max-width: 768px) {
        display: grid;
        place-items: center;
       }
    }
  }
  
  
  .greetings-container h1.title {
    font-weight: 800;
    color: #0c6893;
    font-size: 2em;
  }
  .greetings-container p {
    font-size: 1em;
  }
  .greetings-container .text {
    text-align: center;
  }
  .greetings-container img {
    max-width: 10rem;
    @media (max-width: 768px) {
      width: 60%;
      object-fit: unset !important;
      margin: 1rem;
      display: block;
      max-width: unset;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  .text {
    display: grid;
    place-items: center;

    .text-wrap {
      h1{
        margin-bottom: .7rem;
      }
      p{
        margin-bottom: .5rem !important;
      }
    }
  }
  
  .vaccination-schedule-container {
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

    #vacc-sched{
      tr{
        @media (max-width: 520px) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .current-medication-container {
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

    table{
      tbody{
        @media (max-width: 520px) {
          display: flex !important;
        }
      }
      th{
        @media (max-width: 520px) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .calendar-container {
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

  
    .calendar-sidebar {
      background-color: var(--primary-color) !important;
      box-shadow: unset !important;
    }
  
    .calendar-sidebar > span#sidebarToggler {
      background-color: var(--primary-color) !important;
    }
  
    #eventListToggler {
      background-color: var(--primary-color) !important;
    }
  
    .calendar-sidebar > .month-list > .calendar-months > li.active-month {
      background-color: #277fa8 !important;
    }
  
    .calendar-sidebar > .month-list > .calendar-months > li:hover {
      background-color: var(--hover-color) !important;
    }
    .evo-calendar {
      box-shadow: unset !important;
    }
    .calendar-sidebar > span#sidebarToggler {
      box-shadow: unset !important;
    }
    #eventListToggler {
      box-shadow: unset !important;
    }
    th[colspan="7"] {
      color: var(--primary-color) !important;
    }
    .event-list > .event-empty {
      padding: 15px 10px;
      background-color: rgba(92, 156, 230, 0.15);
      border: 1px solid var(--primary-color) !important;
    }
    .event-list > .event-empty > p {
      color: var(--primary-color);
    }
  }
  
  .patient-details-container {
    background-color: var(--light-grey);
    padding: 3rem 0;
    border-radius: 10px;
    text-align: center;
    .profile-image {
      padding: 1rem 2rem;
    }
  }
  .patient-details-container {
    h2 {
      text-align: center;
      color: var(--third-color);
    }
  }
  .patient-details-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .details-table table {
    border: none;
    outline: none;
    background-color: none;
    font-family: Poppins;

    tr{
      @media (max-width: 520px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  tr:nth-child(even) {
    background: none;
  }
  td:nth-child(1) {
    font-weight: 800;
  }
  