
.left{
    margin-left: 2%;
}
.greetings-container{
        background-color: #cdefff;
        height: 20%;
        width: 60%;
        display: flex;
        border-radius: 10px;
        padding: 0 5% 5% 5%;
        margin-top: 2%;
}
.greetings-img{
    width: 40%;
    height: 40%;
    margin-top: -10%;
}
.greetings-container p:nth-child(1){
    font-weight: 800;
    color:#0c6893;
    font-size: 1.5em;
}
.greetings-container .text{
    text-align: center;
}
.text{
    margin-top: 8%;
    
}
.text p:nth-child(2){
    font-size: 0.8em;
}

.symptoms-container{
    background-color: var(--light-grey);
    width: 60%;
    height: 40%;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
}
.symptoms-wrapper{
    display: flex;
    align-items: center;
}
.symp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.symp img{
    width: 60px;
    height: 60px;
}
.symp p{
    text-indent: 0.4cm;
}
.pres-wrapper{
    display: flex;
    align-items: center;
}

.prescription-container{
    background-color: var(--light-grey);
    width: 60%;
    padding: 3%;
    border-radius: 10px;
    margin-top: 2%;
}
.sub-prescription{
    display: flex;
    background-color: #cdefff;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 2%;
    border-radius: 10px;
}
.sub-prescription img{
    width: 70px;
    height: 70px;
}
.sub-prescription p:nth-child(1){
    color: #0c6893;
    font-weight: 800;
}
.medication-wrapper{
    display: flex;
    align-items: center;
}
.medication{
    display: flex;
    align-items: center;
    margin: 5%;
}
.medication img{
    width: 50px;
    height: 45px;
}
.patient-details-container{
    transform: translateY(-860px);
    margin-right: 20px;
    float: right;
    background-color: var(--light-grey);
    width: 35%;
    padding: 3%;
    border-radius: 10px;
}
.patient-details-container h1{
    text-align: center;
    color: var(--third-color);
}
.patient-details-container img{
    display: flex;
    margin-left: 25%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.details-table table{
    border: none;
    outline: none;
    background-color: none;
    font-family: Poppins;

}
tr:nth-child(even){
    background: none;
}
td:nth-child(1){
    font-weight: 800;
}

