.dashboard-admin-content{
    padding: 0 2rem;
    color: black;

    @media(max-width: 1200px){
        padding: 1rem 4rem !important;
    }
    @media(max-width: 1025px){
        padding: 1rem 1rem !important;
    }
}

.admin-upper{
    width: 100%;
    display: grid;
    color: white;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 2rem 0;

    .fas{
        color: white;
        font-size: 2rem;
    }

    @media(max-width:999px){
        grid-template-columns: 1fr;
    }

    

    .admin-upper-left{
        height: auto;
        display: grid;
        gap: 1rem;

        .dashboard-cards{
            min-height: 22vh;
            border-radius: 10px;
            display: flex;
            align-items: center; 
            justify-content: space-between;
            padding: 2rem;
        }
        .dashboard-cards-text{
            text-align: right;
        }
        .dashboard-cards-text p:nth-child(1){
            font-weight: 800;
            font-size: 1.7rem;
        }
        .dashboard-cards-text p:nth-child(2){
            font-weight: 200;
            font-size: 0.9rem;
        }
        .card1{
            background-color: #1dbf73;
        }
        .card2{
            background: #eb4151;
           
        }
        .fa-syringe{
           
        }
        .fa-user-injured{
           
        }
    }



    .admin-upper-right{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        @media(max-width:500px){
            grid-template-columns: 1fr 1fr;
        }
        @media(max-width:430px){
            grid-template-columns: 1fr;
        }


        .dashboard-small-cards{
            background: #22809b;
            border-radius: 10px;
            text-align: center;
            display: flex;
            place-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
        }
        .dashboard-small-cards i{
          
        }
        .small-cards-text{
         
        }
        .small-cards-text p:nth-child(1){
            font-weight: 800;
            font-size: 1.7rem;
        }
        .small-cards-text p:nth-child(2){
            font-weight: 200;
            font-size: 0.9rem;
        }
    }
    
}

.admin-lower{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    gap: 1rem;
    margin: 2rem 0;

    @media(max-width:999px){
        grid-template-columns: 1fr;
    }
    
    .workers-list-container{
        background-color: #22809b;
        border-radius: 10px;
      
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        ul{
            font-family: Lato, sans-serif;
            overflow: scroll;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            height: 70%;
        }
        ul li{
            width: 100%;
            border-bottom: 1px solid rgb(230, 230, 230);
            list-style: none;
            padding: .5rem;
        }
        ul li:hover{
            cursor: pointer;
            background-color: #243545;
        }
        .worker-header{
            padding: 20px;
        }
        .list-header{
            font-family: Lato, sans-serif;
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 0 20px;
            
            li{
                width: 100%;
                padding: 0 .5rem;
            }

            .name-list{
                p{
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 0 1rem;
                }
                p:last-child{
                    margin-left: -1rem !important;
                }
            }
        }
        .name-list{
            display: flex;
            font-size: 0.8rem;
            align-items: center;
            justify-content: space-evenly;

            img{
                p:nth-child(1){
                    flex: 1 1 10%;
                }
            }

            p{
                flex: 1 1 60%;
                text-align: left;
                padding: 0 1rem;
            }
            p:last-child{
                flex: 1 1 30%;
                padding: 0 !important;
            }

        }
        
        
        
        
    }
    .popular-vaccines-container{
        background-color: #22809b;
        border-radius: 10px;
        overflow-x: scroll;

        #container{
            display: grid;
            place-items: center;

            
        }
    }
    
}
