.dashboard-content {
    color: #222;
    padding: 2rem 1rem;


    table{
      width: 100% !important;
    }

    table tr {
      background-color: transparent;
      border: 1px solid transparent;
      padding: .35em;
    }


  }
  .greetings-container {
    background-color: #cdefff;
    display: flex;
    border-radius: 10px;
    padding: 2rem 1rem;
    margin-bottom: 30px;
    @media (max-width: 768px) {
     flex-direction: column;
     align-items:center;
    }

    .img-container{
      padding: 1rem;
      @media (max-width: 768px) {
        display: grid;
        place-items: center;
       }
    }


   

  }
  
  
  .greetings-container h1.title {
    font-weight: 800;
    color: #0c6893;
    font-size: 2em;
  }
  .greetings-container p {
    font-size: 1em;
  }
  .greetings-container .text {
    text-align: center;
  }
  .greetings-container img {
    max-width: 10rem;
    @media (max-width: 768px) {
      width: 60%;
      object-fit: unset !important;
      margin: 1rem;
      display: block;
      max-width: unset;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  .text {
    display: grid;
    place-items: center;

    .text-wrap {
      h1{
        margin-bottom: .7rem;
      }
      p{
        margin-bottom: .5rem !important;
      }
    }
  }
  
  .vaccination-schedule-container {
    background-color: var(--light-grey);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }
    
    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    
    table tr {
     
      padding: .35em;
    }
    
    table th,
    table td {
      padding: .625em;
      text-align: center;
    }
    
    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table  th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      table tr:first-child{
        display: none;
      }
      
      table tr {
       
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
      
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }

   
  }
  .current-medication-container {
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }
    
    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    
    table tr {
      padding: .35em;
    }
    
    table th,
    table td {
      padding: .625em;
      text-align: center;
    }
    
    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table  th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      table tr:first-child{
        display: none;
      }
      
      table tr {
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    }
    

  
  }
  .calendar-container {
    background-color: var(--light-grey);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;
  
    h3 {
      margin-bottom: 0.5rem;
    }

  
    .calendar-sidebar {
      background-color: var(--primary-color) !important;
      box-shadow: unset !important;
    }
  
    .calendar-sidebar > span#sidebarToggler {
      background-color: var(--primary-color) !important;
    }
  
    #eventListToggler {
      background-color: var(--primary-color) !important;
    }
  
    .calendar-sidebar > .month-list > .calendar-months > li.active-month {
      background-color: #277fa8 !important;
    }
  
    .calendar-sidebar > .month-list > .calendar-months > li:hover {
      background-color: var(--hover-color) !important;
    }
    .evo-calendar {
      box-shadow: unset !important;
    }
    .calendar-sidebar > span#sidebarToggler {
      box-shadow: unset !important;
    }
    #eventListToggler {
      box-shadow: unset !important;
    }
    th[colspan="7"] {
      color: var(--primary-color) !important;
    }
    .event-list > .event-empty {
      padding: 15px 10px;
      background-color: rgba(92, 156, 230, 0.15);
      border: 1px solid var(--primary-color) !important;
    }
    .event-list > .event-empty > p {
      color: var(--primary-color);
    }
  }
  
  .patient-details-container {
    background-color: var(--light-grey);
    padding: 3rem 0;
    border-radius: 10px;
    text-align: center;
    .profile-image {
      padding: 1rem 2rem;
    }
  }
  .patient-details-container {
    h2 {
      text-align: center;
      color: var(--third-color);
    }
  }
  .patient-details-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .details-table table {
    border: none;
    outline: none;
    background-color: none;
    font-family: Poppins;

    tr{
      @media (max-width: 520px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
  tr:nth-child(even) {
    background: none;
  }
  td:nth-child(1) {
    font-weight: 800;
  }
  


  #profile-cont{
    table{
      width: 100% !important;
      table-layout: fixed;
    }

    table tr {
      background-color: transparent;
      border: 1px solid transparent;
      padding: .35em;
    }
  }
  .profile-patient-settings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width:600px){
      grid-template-columns: repeat(1, 1fr);
    }

    &>*{
      padding: 2rem;
    }

    .title{
       margin-bottom: .5rem;
    }
    .settings{
       display: flex;
       flex-direction: column;
       align-items: flex-start !important;
       margin-bottom: 1rem;
    }

    .right{
      .image{
        margin: 1rem ;
        display: grid;
        place-items: center;
      }
    }
    
    
  }