.forgot-cont {
  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h5{
    margin-top: 1.5rem;
  }
  form{
    margin: 0 0;
    #email-input{
      max-width: 80%;
      font-family: poppins !important;
      letter-spacing: 0.1rem;
      margin: 0;

    }
  }
  #invalid-email-indicator{
    color: darkred;
    visibility: hidden;
    margin: 5px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }


}

#forgot-pwd-otp-input{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-align: center;
  width: 50%;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  border: 2px solid var(--third-color);
  outline: none;
  margin: 0;
}
#forgot-pwd-otp-input:focus{
  border-color: var(--primary-color);
}
#invalid-otp-indicator{
  color: darkred;
  visibility: hidden;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pop-up-forgot-otp-ok-btn{
  border-radius: 0;
}

.reset-pwd-cont{
display: flex;
  flex-direction: column;
  align-items: center;


  .input-cont{
    max-width: 80%;

    .input-label{
      padding-left: 0.5rem;
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }
  }
}

