.inventory{
    &__container{
        padding: 1rem;

        h1{
            font-weight: 400 !important;
            color: var(--third-color );
        }

        i{
            cursor: pointer !important;
        }

        .td-spacer{
            background-color: white;
        }
    }
    table{
        margin-top: 0 !important;
    }
   
    

&__table-toexpire-container{

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 0 !important;
        }
        
        td{
        font-weight: 300 !important;
        width: 200px;
        }
        
        tr:nth-child(even) {
        background-color: #b7c6d1 !important;
        }
        
        td.expired-text{
        color: red !important;
        }
        
        td.warning-btn{
        background-color: white;
        padding-left: .3rem !important;
        text-align: left !important;
        i{
        color: #ff1515 !important;
        padding: .6rem;
        border-radius: .4rem;
        font-size: 1.4rem !important;
        cursor: unset !important;
    
        }
        }

}

&__table-expired-container{
margin-top: 3rem !important;
margin-bottom: 3rem !important;

table {
border-collapse: collapse;
width: 100%;
margin-top: 0 !important;
}

td{
font-weight: 300 !important;
width: 200px;
}

tr:nth-child(even) {
background-color: #b7c6d1 !important;
}

td.expired-text{
color: red !important;
}

td.delete-btn{
background-color: white;
padding-left: .3rem !important;
text-align: left !important;
i{
background-color: red;
color: white !important;
padding: .6rem;
border-radius: .4rem;
transition: all 200ms ease-in-out;
font-size: 1.1rem !important;

&:hover{
background-color: #ac0202 !important;
}
}
}
}


&__table-main-container{

tr.title{
    background-color: var(--primary-color);
    th{
        color: white !important;
        font-weight: 400;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
    }
    
    td, th {
    color: var(--third-color);
    padding: .5rem 1rem;
    text-align: center;
    }

    td{
        font-weight: 300 !important;
    }

    td.add-btn{
        background-color: white;
        padding-left: .3rem !important;
        i{
            background-color: var(--primary-color);
            color: white !important;
            padding: .6rem;
            border-radius: .4rem;

            transition: all 200ms ease-in-out;

            &:hover{
                background-color: var(--hover-color) !important;
            }
        }
    }
    th.add-row{
        background-color: white;
    }
    

    
    tr:nth-child(even) {
    background-color: #b7c6d1 !important;
    }
}


}

