.registration-form{

    color: var(--third-color);
    &__container{
        display: flex;
        @media (max-width:900px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__wrapper{
        flex: 1 1 60%;
    }

    &__image{
        flex: 1 1 40%;
       height: 100vh;
       background-color: var(--primary-color);
       display: grid;
       place-items: center;
       img{
           width:70%;
           height: 70%;
           @media (max-width:900px) {
            display: none;
         }
       }
    }

}

.logo{
    img{
       width: 12rem !important;
    }
}

