.table-reports{
    @media(max-width: 991px){
        order: 1 !important;
    }
}
.left-reports{
    @media(max-width: 991px){
        order: 2 !important;
    }
}

.reports{

    &_content{
        padding: 1rem 2rem;

        @media(max-width: 1200px){
            padding: 1rem .5rem;
        }
    }
    &__left-col{
        margin-bottom: 2rem;
    }
    &__left-col-container{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: .5rem;
    }
    &__table{
        th{
            padding: 1.5rem 0;
            color: #222;
            font-size: 1.2rem;
        }
        td{
            font-weight: 300 !important;
        }
        tr{
            &:nth-child(even){
                background-color: rgb(160, 160, 160);
            }
        }
    }
    &__right-col{

        margin-top: 4rem;
        height: 100%;

        @media(max-width: 990px){
            margin-top: 1rem;
        }
        
        &_links{

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
           
           
            a{
                transition: all 300ms ease-in-out;
                background-color: var(--primary-color);
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-weight: 700;
                padding: 1rem 2rem;
                margin-bottom: 1rem;
                border-radius: .5rem;

                &:hover{
                    background-color: var(--hover-color);
                }
            }
        }
    }


    &_nav{
       
        @media(max-width: 1800px){
           
            padding: 1rem 2rem;
        }
        
        background-color: var(--primary-color);

        @media(max-width: 1200px){
            background-color: #222;
        }

        .reports-title{
          
            padding: 1.6rem;
            h4{
                color: white;
                font-size: 1.4rem;
            }
        }
        .reports-menu{
            align-self: flex-end;
            display: flex;
            gap: 2rem;
           
            @media(max-width: 1800px){
                flex-wrap: wrap;
                align-self: center;
                gap: 1rem;
                justify-content: center;
            }
            @media(max-width: 768px){
               flex-direction: column;
               padding: 1.6rem;
            }
           

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    padding: 1rem 2rem;
                    border-radius: .5rem;
                    transition: all 200ms ease-in-out;
                    margin-bottom: -.5rem;
                    display: inline-block;

                    @media(max-width: 1800px){
                        display: block;
                     }
                     @media(max-width: 768px){
                        text-align: center;
                     }

                    &:hover{
                        background-color: white;
                        color: #222;
                    }
                }
                .active{
                    background-color: white;
                    color: #222;
                }
            }
        }
    }

    &__individual-reports-table{
        margin: 2rem 0;
        th{
            padding: 1rem .6rem;
            color: #222;
            font-size: 1rem;
        }
        td{
            font-weight: 300 !important;
        }
        tr{
            &:nth-child(even){
                background-color: rgb(160, 160, 160);
            }
        }
    }

    &__individual-container{
        background-color: rgb(238, 237, 237);
        border-radius: .5rem;
    }

    &_individual-report-links{
        a{
            display: block;
            text-decoration: none;
            font-weight: 300;
            color: #222;
            font-size: 1.2rem;

            &:hover{
                font-weight: 500;
            }
        }
        a.active{
            font-weight: 500;
        }

    }

    &_individual-report-download{
        text-align: center;
        a{
            transition: all ease-in-out 200ms;
            display: block;
            background-color: var(--primary-color);
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            cursor: pointer;
            border-radius: .5rem;
            &:hover{
                background-color: var(--hover-color);
            }
        }
    }


    &_upper-col{
        margin: 2rem 0;
        padding: 0;
    }
    &_lower-col{
        margin: 2rem 0;
        padding: 0;
    }










}