.table-reports{
    @media(max-width: 991px){
        order: 1 !important;
    }
    padding: 0;
}
.left-reports{
    @media(max-width: 991px){
        order: 2 !important;
    }
}

.reports{

    

    &_content{
        padding: 1rem 2rem;

        @media(max-width: 1200px){
            padding: 1rem .5rem;
        }
    }
    &__left-col{
        margin-bottom: 2rem;
    }
    &__left-col-container{
        box-shadow: 0 3px 6px #00000029, 0 3px 6px rgba(0,0,0,0.23);
        border-radius: .5rem;
        height: 40vh;
        padding: 1rem;
        overflow-y:auto;
        display: grid;
        place-items: center;

        h1{
            text-align: center;
            padding: 1rem 0 !important;
        }

        table {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
          }

          table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
          }
    
          table tr {
           th{
               background-color: white;
           }
          }
          
          table tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;

            &:nth-child(even){
                background-color: #c4c4c4;
                @media screen and (max-width: 700px) {
                    background-color: white;
                }
            }
    
            @media screen and (max-width: 700px) {
             margin: .5rem 0;
            }
          }
          
          table th,
          table td {
            padding: .625em;
            text-align: center;
          }
          
          table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: black;
          }
          
          @media screen and (max-width: 700px) {
            table {
              border: 0;
              
            }
          
            table caption {
              font-size: 1.3em;
            }
            
            table tr th {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
              display: none;
            }
    
            table tr:first-child{
                display: none;
            }
            
            table tr {
              border-bottom: 3px solid #ddd;
              display: block;
              margin-bottom: .625em;
            }
            
            table td {
              border-bottom: 1px solid #ddd;
              display: block;
              font-size: .8em;
              text-align: right;
            }
            
            table td::before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            
            table td:last-child {
              border-bottom: 0;
            }
    
          }




    }
    /*&__table{
        margin: 0;
        th{
            padding: .5rem 1rem;
            color: #222;
            font-size: 1.2rem;
        }
        td{
            font-weight: 300 !important;
            color: black !important;
        }
        tr{
            &:nth-child(even){
                background-color: rgb(160, 160, 160);
            }
        }
    }*/
    &__right-col{

        margin-top: 4rem;
        height: 100%;

        @media(max-width: 990px){
            margin-top: 1rem;
        }
        
        &_links{

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
           
           
            a{
                transition: all 300ms ease-in-out;
                background-color: var(--primary-color);
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-weight: 700;
                padding: 1rem 2rem;
                margin-bottom: 1rem;
                border-radius: .5rem;

                &:hover{
                    background-color: var(--hover-color);
                }
            }
        }
    }


    &_nav{
       
        @media(max-width: 1800px){
           
            padding: 1rem 2rem;
        }
        
        background-color: var(--primary-color);

        @media(max-width: 1200px){
            background-color: #222;
        }

        .reports-title{
          
            padding: 1.6rem;
            h4{
                color: white;
                font-size: 1.4rem;
            }
        }
        .reports-menu{
            align-self: flex-end;
            display: flex;
            gap: 2rem;
           
            @media(max-width: 1800px){
                flex-wrap: wrap;
                align-self: center;
                gap: 1rem;
                justify-content: center;
            }
            @media(max-width: 768px){
               flex-direction: column;
               padding: 1.6rem;
            }
           

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    padding: 1rem 2rem;
                    border-radius: .5rem;
                    transition: all 200ms ease-in-out;
                    margin-bottom: -.5rem;
                    display: inline-block;

                    @media(max-width: 1800px){
                        display: block;
                     }
                     @media(max-width: 768px){
                        text-align: center;
                     }

                    &:hover{
                        background-color: white;
                        color: #222;
                    }
                }
                .active{
                    background-color: white;
                    color: #222;
                }
            }
        }
    }

    &__individual-reports-table{
        margin: 2rem 0;
        th{
            padding: 1rem .6rem;
            color: #222;
            font-size: 1rem;
        }
        td{
            font-weight: 300 !important;
        }
        tr{
            &:nth-child(even){
                background-color: #c4c4c4;

                @media screen and (max-width: 700px) {
                    background-color: white;
                }
            }
        }
    }

    &__individual-container{
        //background-color: rgb(238, 237, 237);
        //border-radius: .5rem;

    
    h1{
        text-align: center;
        padding: 3rem 0 !important;
    }
        
     table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }

      table tr {
       th{
           background-color: white;
       }
      }
      
      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;

        @media screen and (max-width: 700px) {
         margin: .5rem 0;
        }
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      
      @media screen and (max-width: 700px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table tr th {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          display: none;
        }

        table tr:first-child{
            display: none;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }

      }
      
    }

    &_individual-report-links{
        a{
            display: block;
            text-decoration: none;
            font-weight: 300;
            color: #222;
            font-size: 1.2rem;

            &:hover{
                font-weight: 500;
            }
        }
        a.active{
            font-weight: 500;
        }

    }

    &_individual-report-download{
        text-align: center;
        a{
            transition: all ease-in-out 200ms;
            display: block;
            background-color: var(--primary-color);
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            cursor: pointer;
            border-radius: .5rem;
            &:hover{
                background-color: var(--hover-color);
            }
        }
    }


    &_upper-col{
        margin: 2rem 0;
        padding: 0;
    }
    &_lower-col{
        margin: 2rem 0;
        padding: 0;
    }










}