.text-content{
    display: flex;
    align-items: flex-start;

    @media(max-width:800px){
        flex-direction: column;
    }

    table{
        width: 100% !important;
      }
  
      table tr {
        background-color: transparent;
        border: 1px solid transparent;
        padding: .35em;
      }
}
.settings-page{
    padding: 2rem 3rem !important;
}
.text-content > *{
   width: 50%;

   @media(max-width:800px){
    width: 100%;
}
}

.left-text{
    margin-left: 0 !important;
}
.left-text p{
    font-weight: 800;
    font-size: 2.5em;
    text-transform: capitalize;
}
.left-text ul{
    list-style-type: none;
}
.left-text ul li{
    margin-top: .5rem !important;
}
.left-text a{
    color: var(--primary-color);
    text-decoration: none;
}
.right-text{
    margin-left: 0 !important;
    margin-top: 3.5rem !important;
    table{
        margin: 0;
        max-width: 80%;
        width: 100%;

        @media(max-width: 800px){
            max-width: 60%;
        }
        @media(max-width: 600px){
            max-width: 100%;
        }

    }
    table td{
        padding: .5rem .2rem !important;

        .fa-edit{
            cursor: pointer !important;
            margin-right: .3rem !important;
        }
    }
    table td:first-child{
        display: flex;
    }
}
.right-text p{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1rem !important;
}
.right-text table tr td{
    text-align: left;
}
.right-text{
    margin-left: 20%;
    margin-top: 5%;
  
    .input--container{
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
      margin: 1rem 0 !important;
      @media(max-width: 500px){
        flex-direction: column;
    }
    }
  
    .input--container label{
      flex: 1 1 30%;
      @media(max-width: 500px){
        flex: unset;
    }
    }
    .input--container input{
      flex: 1 1 70%;
      padding: 0 1rem;
      @media(max-width: 500px){
        flex: unset;
    }
    }
  
  }
.save-changes{
    background-color: var(--primary-color) !important;
    color: white;
    border: none;
    outline: none;
    font-family: Poppins;
    padding: 15px;
    margin: 1rem 0 !important;
    cursor: pointer;
    transition: all 300ms ease-in;
}
.save-changes:hover{
    background-color: var(--hover-color) !important;
}
.right-text label, .right-text input{
    margin: 0;
}


.inner-page-nav{
    position: relative;
}


//DROPDOWN SETTINGS
.open{
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0%) !important;
}
#close-dropdown, #close-mobile-menu{
    display: none;
}
.mobile-menu{
   
    @media(min-width: 1300px){
        display: none !important ;
      }
    @media(max-width: 1300px){
        display: block;
      }
}
.drop-down-settings{

    visibility: hidden;
    background-color: var(--primary-color);
    border-radius: .4rem;
    position: absolute;
    right: 0;
    top: 160%;
    opacity: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 9999;
    transform: translateY(-5%);
    transition: all 300ms ease-in-out;


    ul{
        padding: 2rem;
    }

    ul li:nth-child(3){
        display: none;
    }

    ul .show-menu{
        display: block !important;
    }

    ul li{
        list-style: none;
        text-align: center;
        transition: all 300ms ease-in;

        &:hover{
            background-color: var(--hover-color);
        }
    }

    ul li a{
        text-decoration: none;
        color: white;
        padding: .5rem 2rem;
        display: inline-block;
        text-align: center;
        text-transform: capitalize !important;
        white-space: nowrap;
    }

    ul li:last-child a::after{
        content: "\f2f5";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-left: .5rem;
        color: rgb(83, 81, 81);
    }
}
.menu-mobile{

   display: none;
    background-color: var(--primary-color);
    
   @media(max-width:1300px){
       display: block;
   }

    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0 1rem;
    }


    ul li a{
        color: white;
        padding: .8rem 1.3rem;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
        display: inline-block;
        i{
            font-size: 26px;
            @media(max-width: 400px){
                font-size: 22px;
            }
        }
    }

    ul .active{
        padding: 0 !important;
    }

    ul .active a{
        background: white;
        color: #02a9f7;
      
    }
  
}


.notification-dropdown{
position: absolute;
width: 250px;
top: 160%;
right: 70%;
color: black;
background-color: white;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
padding: 1rem;
z-index: 9999;
display: none;
transition: 0.3s;
border-radius: .4rem;
list-style-type: none;



@media(max-width:600px){
    right: 2%;
}

li a{
    padding: 0;
    margin: 0;
    border-bottom: none !important;
}

li{
    margin: .5rem 0;
    padding: .5rem 0;
    border-bottom: 1px solid #ccc !important;
    list-style: none;
    border-radius: unset !important;
    border-top-left-radius: .4rem !important;
    border-top-right-radius: .4rem !important;
}
li:last-child{
    border-bottom: unset;
}
}
.notification--show{
  display: block;
}
.notification-toggle{
    position: relative;

    .counter{
        position: absolute;
        top: 0;
        left: 13px;
        background-color: #eb4151;
        color: white;
        font-size: 12px;
        border-radius: 22px;
        text-align: center;
        cursor: pointer;
        font-family: "Roboto","Arial",sans-serif;
        padding: 0 4px;
    }
}