.super-admin{
    display: flex;
}

.super-admin .sidenav{
 flex: 1 1 20%;
 height: 100vh;
}

.super-admin--container{
    margin-top: 2rem !important;
    padding: 2rem 5rem !important;

    @media screen and (max-width: 900px) {
        padding: 2rem 2rem !important;
    }

    h3{
        margin: 0 !important;
    }

    th {
        background-color: var(--primary-color);
        color: white;
      }

      table {
        border-collapse: collapse;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }
      
      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
      }
      
      table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
      
      @media screen and (max-width: 900px) {
        table {
          border: 0;
        }
      
        table caption {
          font-size: 1.3em;
        }
        
        table th {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          display: none;
        }
    
        table tr:first-child{
            display: none;
        }
    
        table tr:nth-child(even){
            background-color: white !important;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;
        }
        
        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: .8em;
          text-align: right;
        }
        
        table td::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      }
    
}

.super-admin .main{
    flex: 1 1 80%;
}



td, th {
  color: var(--third-color);
  padding: .5rem 1rem;
  text-align: center;
}


tr:nth-child(even) {
  background-color: #b7c6d1;
}




.cta-wrapper{
margin-top: 1rem;
display: flex;
justify-content: flex-end;
    .red-square-btn{
        background-color: #ff0000;
        color: white;
        text-decoration: none;
        padding: .6rem .8rem;
        display: block;
        text-align: center;
        width: 20%;

        i{
            margin-right: .3rem;
        }

        &:hover{
            background-color: #cf0404;
        }
    }
}


.button-square{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6rem .8rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    

    i{
        margin-right: .3rem;
    }

    &:hover{
        background-color: var(--hover-color);
    }
}

.cta-wrapper2{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
        .square-btn{
            background-color: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6rem .8rem;
            display: block;
            text-align: center;
    
            &:hover{
                background-color: var(--hover-color);
            }
        }
        .red-square-btn{
            background-color: #ff0000;
            color: white;
            text-decoration: none;
            padding: .6rem .8rem;
            display: block;
            text-align: center;

            i{
                margin-right: .3rem;
            }
    
            &:hover{
                background-color: #cf0404;
            }
        }
    }
