body{
    overflow-x: hidden;
}
.covid-container{
    width: 74vw;
    height: 50vh;
    background-color: #249ad2;
    margin: 20px 0px 10px 40px;
    border-radius: 10px;
}
.track-map-second, .track-map-third{
    display: flex;
    margin: 0px 0px 0px 30px;   
}
.tm-container{
    margin: 10px;
    width: 36.2vw;
    height: 50vh;
    background-color: #249ad2;
    border-radius: 10px;
}
.tab{
    flex-wrap: wrap !important;
    width: 90% !important;
    margin: 0 auto !important;
    padding: 1rem !important;
    margin: 1rem auto !important;
}

.tab button{
    border: solid 1px white !important;
    margin: 1rem !important;
}